{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block css %}
<style type="text/css">
    .landing{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10vw 0 10vw;
        height: 100vh;
    }
    
    .landingText h1{
        font-size: 6vw;
        margin: 0 !important;
    }
    
    .landingText h3{
        margin: 6px !important;
        font-size: 20px;
        opacity: 0.3;
        line-height: 30px;
    }
    
    .landingText .btn{
        width: 120px;
        margin-top: 30px;
        padding: 14px 20px 14px 20px;
        background-color: #2f8be0;
        border-radius: 45px;
        text-align: center
    }
    
    .landingText .btn a{
        font-size: 1.2vw;
        color: #fff;
    }
    
    .landingImage img{
        width: 45vw;
    }
</style>
{% endblock css %}

{% block body %}
<br>
<br>
<div class="landing">
    <div class="landingText" data-aos="fade-up" data-aos-duration="1000">
        <h1>Welcome!<span style="color:#1b7cd6;font-size: 4vw"><br> {{fname}} {{Lname}}</span> </h1>
        <h3>Not Feeling Well?</h3>
        <div class="btn">
            <a href="/disease">Book Now!</a>
        </div>
    </div>
    <div class="landingImage" data-aos="fade-down" data-aos-duration="2000">
        <img src="static/ill.jpg" alt="">
    </div>
</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
{% endblock body %}